{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pascasarjana</title>
</head>
<body>

    <center>
        <h1 style="background-color: rgb(190, 149, 14);">PASCASARJANA</h1>
    </center>

    <p></p>
    <center><img src="http://pasca.untirta.ac.id/asset/foto_berita/DSC_5792S1.jpg" alt=""></center>

    <h2 style="background-color: rgb(226, 192, 118);">Program Studi</h2>
    <p></p>
    <p>Program Studi Pendidikan Bahasa Indonesia</p>
    <p>Program Studi Teknologi Pendidikan</p>
    <p>Program Studi Konsentrasi Manajemen Pendidikan</p>
    <p>Program Studi Konsentrasi PAUD</p>
    <p>Program Studi Hukum</p>
    <p>Program Studi Konsentrasi Hukum Pidana</p>
    <p>Program Studi Hukum Perdata</p>
    <p>Program Studi Hukum Tata Negara</p>
    <p>Program Studi Administrasi Publik</p>
    <p>Program Studi Akuntansi</p>
    <p>Program Studi Manajemen</p>
    <p>Program Studi Konsentrasi Manajemen Pemasaran</p>
    <p>Program Studi Manajemen SDM</p>
    <P>Program Studi Manajemen Keuangan</P>
    <p>Program Studi Pendidikan Bahasa Inggris</p>
    <p>Program Studi Pendidikan Matematika</p>
    <p>Program Studi Ilmu Pertanian</p>
    <p>Program Studi Ilmu Komunikasi</p>
    <p>Program Studi Teknik Kimia</p>
    <p>Program Studi Pendidikan Dasar</p>
    <p>Program Studi Ekonomi</p>

    
</body>
</html>     

{% endblock %}