{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultas Keguruan dan Ilmu Pendidikan</title>
</head>
<body>

    <center>
        <h1 style="background-color: rgb(49, 153, 39);">FAKULTAS KEGURUAN dan ILMU PENDIDIKAN</h1>
    </center>

    <p></p>
    <center><img src="https://4.bp.blogspot.com/-Mz77CTo0VCs/XK7yL_85b2I/AAAAAAAAASA/gSohlWpSQaYW9S8udCH8QkFqU5fAqttIACLcBGAs/s1600/syintia_nurain___Bv6ZieGBgYr___.jpg" alt=""></center>

    <h2 style="background-color: rgb(167, 204, 167);">Program Studi</h2>
    <p></p>
    <p>Program Studi Pendidikan Luar Sekolah</p>
    <p>Program Studi Pendidikan Guru Sekolah Dasar</p>
    <p>Program Studi Pendidikan Anak Usia Dini</p>
    <p>Program Studi Pendidikan Bahasa dan Sastra Indonesia</p>
    <p>Program Studi Pendidikan Bahasa Inggris</p>
    <p>Program Studi Pendidikan Matematika</p>
    <p>Program Studi Pendidikan Biologi</p>
    <p>Program Studi Pendidikan Bimbingan dan Konseling</p>
    <p>Program Studi Pendidikan Luar Biasa</p>
    <p>Program Studi Pendidikan Seni dan Tari Musik</p>
    <p>Program Studi Pendidikan Kewarganegaraan</p>
    <p>Program Studi Pendidikan Sejarah</p>
    <p>Program Studi Pendidikan Sosiologi</p>
    <p>Program Studi Pendidikan Fisika</p>
    <p>Program Studi Pendidikan Kimia</p>
    <p>Program Studi Pendidikan IPA</p>
    <P>Program Studi Pendidikan Teknik Elektro</P>
    <p>Program Studi Pendidikan Teknik Mesin</p>

    
</body>
</html>       
{% endblock %}
