{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    
    <center>
        <h1 style="background-color: burlywood;">FAKULTAS PERTANIAN</h1>
    </center>

    <p></p>
    <center><img src="https://media.suara.com/pictures/653x366/2022/08/11/64903-profil-untirta-untirta.webp" alt=""></center>

    <h2 style="background-color: blanchedalmond;">Program Studi</h2>
    <p></p>
    <p>Program Studi Agribisnis</p>
    <p>Program Studi Agroeteknologi</p>
    <p>Program Studi Ilmu Perikanan</p>
    <p>Program Studi Teknologi Pangan</p>
    
</body>
</html>

{% endblock %}