{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    <center>
        <h1 style="background-color: rgb(160, 221, 245);">BIODATA</h1>
    </center>
    <center><img src="" alt=""></center>
    <center><p>NAMA : ANISA RAMADHANI</p></center>
    <center><p>NIM  : 2225210009</p></center>
    <center><P>KELAS: 3 C</P></center>
    <center><P>FAKULTAS / JURUSAN : FKIP / PENDIDIKAN MATEMATIKA</P></center>
    <center><p>TTL : TANGERANG, 03 NOVEMBER 2003</p></center>
    <center><p>ALAMAT : KP. CISALAK DESA CIREUNDEU KEC.SOLEAR KAB.TANGERANG

    </p>
    </center>
    {% endblock %}