{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultas Ilmu Sosial dan Politik</title>
</head>
<body>

    <center>
        <h1 style="background-color: rgb(17, 243, 194);">FAKULTAS ILMU SOSIAL dan ILMU POLITIK</h1>
    </center>

    <p></p>
    <center><img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/universitas-sultan-ageng-tirtayasa-untirta-8.jpg" alt=""></center>

    <h2 style="background-color: rgb(126, 165, 155);">Program Studi</h2>
    <p></p>
    <p>Program Studi Administrasi Publik</p>
    <p>Program Studi Ilmu Komunikasi</p>
    <p>Program Studi Ilmu Pemerintahan</p>

    
</body>
</html>   
{% endblock %}